# General
__pycache__/
.ipynb_checkpoints/
.venv/
venv/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store

# Environment variables / secrets
.env
.env.*
*.env

# Data & Models
data/
datasets/
models/
!models/*.py

# Logs & Visualization
wandb/
src/wandb/
artifacts/

# C++ Extensions build artifacts
src/extensions/build/
src/extensions/plantclef_ext.egg-info/

# Submissions
submission_plantclef*.csv
