# General
__pycache__/
.ipynb_checkpoints/
.venv/
venv/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store

# Environment variables / secrets
.env
.env.*
*.env

# Data
data/
datasets/
models/*.pt
models/*.pth
